* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Inicio*/

body {
    font-family:  'Montserrat', sans-serif;
    background: #f1fbff;
    
}


  
.section-padding {
    padding: 100px 0;
    
   
}
    
.carousel-item {
    height: 100vh;
    min-height: 300px;
}   

.carousel-caption {
    bottom: 200px;
    z-index: 2;

}

.carousel-caption h5 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;

}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;


}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(213, 159, 32);

}


.navbar-light .navbar-brand {
    text-transform: uppercase;
   
    letter-spacing: 2px;
     font-size:25px;
    color:#000

 

    
    
}

.navbar-ligth .navbar-brand:focus, 
.navbar-ligth .navbar-brand:hover {
    color:#000;

}

.navbar-ligth .navbar-nav .navbar-link {
    color: #000;
}

.w-100 {
    height: 100vh;
}



.contacto .container {
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;

  
}



.contacto .rectangulo {

    background-color: rgb(13, 110, 253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
  

}

.contacto .row {
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion {
    color: #f1fbff;
    font-size: 1.2rem;
}

.contacto button {
    color: #f1fbff;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25rem 2em;
    margin: 10px;
    border-radius: 100px;
    transition: all.2s ease-in-out;
}

.contacto button i {
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}
.contacto button:hover  {
    background-color: rgb(94, 130, 215);
    
}

/*pie de pagina*/

footer {
  position: absolute;
  width: 100%;
  height: 200px;
}



.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}


.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}
/*empresa*/

.empresa-imagenes img {
  border-radius: 20px;
}


.empresa-imagenes img:hover {
  box-shadow:0px 1px 10px rgba(0, 0, 0, 0.4); 
}

.empresa-texto p {
line-height: 1.9;
text-align: justify;
}

.img-fluid {
    height: 500px;
    width: 500px;
}

.team .card-body i {
    font-size: 20px;
}

.card .card-body:hover {
 
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  
}




.card img {
    width: 9rem;
   
}

/*servicios*/

.services .card-body i {
    font-size: 50px;
      font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%
}


/*Proyectos*/


.seccion-oscura {
  color: white;
  background-color: #1b1b32;
  
}



.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
 
} 

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

.overlay .iconos-contenedor {
  display: flex;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/*Contacto*/

.contacto1 {
 color: rgb(213, 159, 32);

}

iframe {
  width: 100%;
  height: 300px;
}



/* Media Query*/

@media only screen and (min-width:768px) and (max-width:991px){
    .carousel-caption {
        bottom: 350px;
    }
    .carousel-caption p {
        width: 100%;
    }

    .img-area img {width: 100%;

}

  
    
}



@media only screen and (max-width:767px){
    .navbar-nav {
        text-align: center;
    }
    .carousel-caption {
        bottom: 125px;
    }

    .carousel-caption h5 {
       
        font-size: 17px;
    }

    .carousel-caption a {
        padding: 10px 15px;

    }

    .carousel-caption p {
        width: 100%;
        line-height: 1.6;
        font-size: 12px;
    }

    .derechos-de-autor {
        text-align: center;
    }

    .empresa-texto {
        padding-top: 50px;
        text-align: center;

        
    }

  .card {
    margin-bottom: 30px;
  }

  iframe {
    width: 300px;
    height: 300px;
  }
}